/**************************
CSS RESET 
***************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************************
BASE RULES
***************************/

body {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
}
h2::after {
    display: block;
    content: "";
    width: 45px;
    border-bottom: 2px solid;
}
h2 img {
    height: 30px;
    float: right;
}

h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin: 20px 0;
}


/**************************
LAYOUT RULES
***************************/

.wrap {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0;
}

.row {
    font-size: 0;
    margin: 0 -15px;
}
.column {
    width: 50%;
    display: inline-block;
    /* outline: 1px solid red; */
    padding: 0 15px;
    vertical-align: top;
}


/**************************
COMPONENTS
***************************/
.button {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #353F46;
    border: 2px solid;
    text-decoration: none;
    padding: 15px 35px;
    transition: color .3s;
}
.button:hover {
    color: #4bcaff;
}



/**************************
SECTIONS
***************************/

.header {
    background-color: rgba(70, 81, 88, .7);
    overflow: auto;
    padding: 55px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9000;
}
.header .wrap {
     padding: 0;
}

.logo {
    margin-top: 11px;
    display: inline-block;
}

.logo img {
    height: 21px;
}

.menu {
    list-style: none;
    font-size: 0;
    float: right;
}

.menu li {
    display: inline-block;
    padding: 0 5px;
}

.menu a {
    border: 2px solid transparent;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 17px;
    transition: border .3s, color .3s;
}

.menu a:hover {
    border-color: #4bcaff;
    color: #4bcaff;
}

.hero {
    height: 800px;
    background-image: url('/img/slider.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    background-color: rgba(70, 81, 88, .7);
    display: inline-block;
    margin-top: 400px;
}


.services {
    background-color: #4bcaff;
    color: white;
}
.services p {
    font-size: 12px;
    line-height: 1.5;
}

.services-gallery {
    font-size: 0;
    margin: 20px -20px 0 -20px;
}

.service {
    display: inline-block;
    width: 25%;
    /* outline: 1px solid red; */
    padding: 20px;
    vertical-align: top;
}
.service img {
    height: 48px;
}
.service h3 {
    margin: 24px 0 20px 0;
}


.portofolio-menu a {
    color: #515f67;
}
.portfolio h2 {
    display: inline-block;
}
.portfolio-gallery {
    font-size: 0;
    margin: 65px -15px 0 -15px;
}
.portfolio-item {
    width: 25%;
    display: inline-block;
    padding: 15px;
}
.portfolio-item a {
    text-decoration: none;
    display: block;
    position: relative;
    color: white;
    overflow: hidden;
}
.portfolio-item img {
    width: 100%;
}
.portfolio-overlay {
    font-size: 60px;
    background: rgba(70, 81, 88, .7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transform: translateY(-100%);
    transition: transform .3s;
}
.portfolio-item a:hover .portfolio-overlay {
    /* opacity: 1; */
    transform: translateY(0);

}
.portfolio-overlay span {
    /* outline: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}



.default {
    background-color: #515F67;
    color: white;
}
.default iframe {
    width: 100%;
    height: 310px;
}


.twitter {
    background-color: #4bcaff;
    color: white;
}
.twitter p {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.78;
}
.twitter a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
}



.who-is {
    background-image: url('/img/about.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}


.social { 

}

.social .button {
    color: white;
    width: 64px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    margin: 0 10px;
}
.social .button:first-child {
    margin-left: 0;
}

.social img {
    height: 26px;
    vertical-align: middle;
}